<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}" id="roots-logo">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for x in pages_list %}
        {% if x.title != null %}
          {% if x.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == x.url %} active{% endif %}" href="{{ x.url }}">{{ x.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item{% if page.url == '/blog/' %} active{% endif %}" href="/blog">Blog</a>
    </nav>

  </div>
</div>
